<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.truckhospital">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".modules.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TruckHospital">

        <activity
            android:name="br.com.truckhospital.modules.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.truckhospital.modules.ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.TruckHospital.NoActionBar" />
        <activity
            android:name="br.com.truckhospital.modules.ui.confirmation.ConfirmationActivity"
            android:exported="false"
            android:theme="@style/Theme.TruckHospital.NoActionBar" />
        <activity
            android:name=".modules.ui.home.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.TruckHospital.NoActionBar" />
        <activity
            android:name=".modules.ui.order.OrderActivity"
            android:exported="false"
            android:theme="@style/Theme.TruckHospital.NoActionBar"
            android:parentActivityName=".modules.ui.home.main.MainActivity"/>
    </application>

</manifest>